<h1>Orders</h1>
<div class="orders-content">
    <div class="create"><a href="#/orders/create/" class="btn btn-primary">Create order</a></div>

    <table class="orders">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Destination</th>
            <th>Client</th>
            <th>Actions</th>
        </thead>
        <tr ng-repeat="order in orders">
            <td>{{order.id}}</td>
            <td>{{order.name}}</td>
            <td>{{order.weight}}</td>
            <td>{{order.destination}}</td>
            <td>{{order.client_name}}</td>
            <td>
                <div class="orders__actions dropdown-toggle" data-toggle="dropdown"></div>
            </td>
        </tr>
        <tfoot>
            <th colspan="6">Total: {{orders.length}}</th>
        </tfoot>
    </table>
</div>
